* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    background-image: url('../img/fondo.jpg');
    background-size: cover;
  }

.menu{
	list-style: none;
	padding: 0;
	background: #092327;
	width: 30%;
	max-width: 1000px;
	margin: auto;
}

.menu li a{
	text-decoration: none;
	color: white;
	padding: 20px;
	display: block;
}

.menu li{
	display: inline-block;
	text-align: center;
}

.menu li a:hover{
	background: #cfc20b;
}

img {
    width: 250px;
    height: 300px;
    
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

h2{
    display: flex;
    justify-content: center;
    align-items: center;
}